html{
  height: 100%;
  background: rgb(207,207,207);
background: linear-gradient(rgba(125,233,255,1) 0%, rgba(207,207,207,1) 100%)no-repeat;
text-align: center;

}
h2{

}
.grid-container{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto auto auto;
  justify-content: center;



}
.grid-items{
  grid-row: 2;
  z-index: 3;
  grid-area: 1 / 2 / span 1 /span 1;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%
  }
#Title{



}
}
body{
  /*
  static background, floating content, maybe some sort of gradient
  subieparts website is a great inspiration*/
  background: rgb(207,207,207);
background: linear-gradient(rgba(125,233,255,1) 0%, rgba(207,207,207,1) 100%)no-repeat;

height: 100%;
position: fixed;
z-index: 2;

}
p{
  padding-left: 2%;
  padding-right: 2%;
}
